{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
</head>
<body>
<!-- partial:index.partial.html -->
<h1>Hi {{user}}</h1>

  <!--a href="logout"><button>Logout</button-->
	<form action = "logout"  >
		<button type="submit" value="login">logout</button>
</form>

		{% for msg in data%}

		{% if '.' in msg.message %}
		<h2>{{msg.sender}} : </h2>
		<img src="/media/{{msg.message}}"  width="200" height="300">
			
		{% else %}

		<h2>{{msg.sender}}:{{msg.message}}</h2>

		{% endif %}
		{%  endfor %}

			<form action = "newmessage" method = GET id = "messageform">
					<input type="text" name="message" placeholder="enter message">
                    <button type="submit" form="messageform" value="login">send</button>
			</form>

			
			<form action = "refresh"  >
				<button type="submit" value="refresh">refresh</button>
		</form>
		

		<form action = "uploadfile" method = "POST" id = "fileform" enctype="multipart/form-data" >
			{% csrf_token %}
			<input type="file" name="filename">
			<button type="submit" form="fileform" >upload</button>
	</form>


	<h1>{{fname}}</h1>
<!-- partial -->
  
</body>
</html>
