{% load static %}
<!DOCTYPE html>
<html lang="en" >
<head>
</head>
<body>
<!-- partial:index.partial.html -->

			<form action = "loginvalidation" method = GET id = "loginform">
				
					<input type="text" name="username" placeholder="User name / Email">
					<input type="password"  name="password" placeholder="Password">
                    <button type="submit" form="loginform" value="login">login</button>
			</form>
			

<h1>{{msg}}</h1>
<!-- partial -->
  
</body>
</html>
